<div ng-app class="post-maker container" ng-controller="PostCtrl">
  <div class="post-form">
  <%= form_for @post, :url => {:action => "update_post", :id => @post.id} do |f| %>
    <%= f.label :title, 'Title' %>
    <%= f.text_field :title %>
    <%= f.label :body, 'Body' %>
    <%= f.text_area :body, 'ng-model' => 'postBody' %>
    <br/>
    <%= f.submit %>
  <% end %>
  </div>
  <script>
    function PostCtrl($scope) {
      $scope.postBody = $('#post_body').val();
    }
  </script>
  <div class="preview post" ng-bind-html-unsafe="postBody"></div>
</div>