<div ng-app class="post-maker container">
  <div class="post-form">
    <%= form_for @post, :url => {:action => "create_post"} do |f| %>
      <%= f.label :title, 'Title' %>
      <%= f.text_field :title %>
      <%= f.label :body, 'Body' %>
      <%= f.text_area :body, "ng-model" => "post" %>
      <br/>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="preview" ng-bind-html-unsafe="post"></div>
</div>