<%= javascript_include_tag "jquery.customSelect.min" %>

<div class="hero">
  <div class="container">
    <div class="title">
      discover boardgames
      <br>that you'll love
    </div>
    <div class="hero-select">
      <select id="catSelect">
        <option value="0">All Games</option>
        <%= Boardgame.categories.each_with_index do |c, i| %>
          <option value="<%= i+1 %>"><%= c %> Games</option>
        <% end  %>
      </select>
      <button class='landing-go'>GO!</button>
    </div>
  </div>
</div>
<div class="second-hero">
  <div class="container">
    <div class="lesser-header">
      <hr>
      <h1>begin your discovery in...</h1>
    </div>
  </div>

  <div class="container categories">
    <a class="cat-link" href="/boardgames/#/?releaseDate=1" data-cat="newhot">
      <div>
        <div>new & hot</div>
        <div class="cat-img">
          <%= image_tag "hot.png" %>
        </div>
      </div>
    </a>
    <a class="cat-link" href="/boardgames/#/?time=45" data-cat="shortsweet">
      <div>
        <div>short & sweet</div>
        <div class="cat-img">
          <%= image_tag "time.png" %>
        </div>
      </div>
    </a>
    <a class="cat-link" href="/boardgames/#/?noCats=Modern%20Themes,Adventure,Ancient%2FMythology,Card%2FClassic,Economic%2FPolitical,Medieval%2FCultural,Miniatures%2FExpansions,Family,Fantasy%2FSci%2DFi" data-cat="gathertroops">
      <div>
        <div>gather the troops!</div>
        <div class="cat-img">
          <%= image_tag "troop.png" %>
        </div>
      </div>
    </a>
    <a class="cat-link" href="/boardgames/#/?players=2" data-cat="2player">
      <div>
        <div>2 player showdown</div>
        <div class="cat-img">
          <%= image_tag "showdown.png" %>
        </div>
      </div>
    </a>
    <a class="cat-link" href="/boardgames/#/?noCats=Adventure,Ancient%2FMythology,Card%2FClassic,Economic%2FPolitical,Fantasy%2FSci%2DFi,Medieval%2FCultural,Miniatures%2FExpansions,War" data-cat="family">
      <div>
        <div>good for family</div>
        <div class="cat-img">
          <%= image_tag "family.png" %>
        </div>
      </div>
    </a>
    <a class="cat-link" href="/boardgames/#/?noCats=Modern%20Themes,Adventure,Ancient%2FMythology,Card%2FClassic,Economic%2FPolitical,Medieval%2FCultural,Miniatures%2FExpansions,War,Family" data-cat="pewpew">
      <div>
        <div>Pew pew</div>
        <div class="cat-img">
          <%= image_tag "fantasy.png" %>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="bg-hero">
  <div class="container">
    <div class="lesser-header">
      <hr>
      <h1>popular boardgames</h1>
    </div>
  </div>

  <div class="container">
    <% @bgs.each do |b| %>
      <div class="bg">
        <div class="bg-img">
          <%= link_to :controller => :boardgames, :action => :detail, :id => b.id, :title => b.parameter do %>
            <%= image_tag b.image.url(:thumb) %>
          <% end %>
        </div>
        <div class="bg-info">
          <div>
            <h2> <%= link_to b.name+" ("+b.year_published+")", :controller => :boardgames, :action => :detail, :id => b.id, :title => b.parameter %></h2>
            <p><%= raw b.desc.first(240) %>...</p>
            <table>
              <tr>
                <td class="title"> age </td>
                <td> <%= b.age %>+ </td>
                <td class="title"> geek score </td>
                <td> <%= b.gbg_rating %> </td>
              </tr>
              <tr>
                <td class="title"> mechanic </td>
                <td> <%= b.mechanic %> </td>
                <td class="title"> category </td>
                <td> <%= Boardgame.category_map[b.category] %> </td>
              </tr>
              <tr>
                <td class="title"> players </td>
                <td> <%= b.num_players %> </td>
                <td class="title"> time </td>
                <td> <%= b.playing_time %> min </td>
              </tr>
            </table>
            <a target="_blank" href="<%= b.amazon_url %>" class="btn amazon-url" data-bgId="<%= b.name %>">buy for <%= b.price %> <%= image_tag "amazon.png" %></a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $("#catSelect").customSelect();

  $(document).on('click', '.cat-link', function() {
    mixpanel.track('Category clicked',{'cat': $(this).attr('data-cat')});
  });


  $(".hero-select button").click(function() {
    mixpanel.track('Landing Go click',{'value': $(".hero-select select").val()});

    switch (parseInt($(".hero-select select").val())) {
      case 0:
        window.location = "/boardgames";
        break;
      case 1:
        window.location = "/boardgames/#/?noCats=Ancient%2FMythology,Card%2FClassic,Economic%2FPolitical,Family,Fantasy%2FSci%2DFi,Medieval%2FCultural,Miniatures%2FExpansions,Modern%20Themes,War";
        break;
      case 2:
        window.location = "/boardgames/#/?noCats=Adventure,Card%2FClassic,Economic%2FPolitical,Family,Fantasy%2FSci%2DFi,Medieval%2FCultural,Miniatures%2FExpansions,Modern%20Themes,War";
        break;
      case 3:
        window.location = "/boardgames/#/?noCats=Adventure,Ancient%2FMythology,Card%2FClassic,Economic%2FPolitical,Family,Fantasy%2FSci%2DFi,Medieval%2FCultural,Miniatures%2FExpansions,Modern%20Themes,War";
        break;
      case 4:
        window.location = "/boardgames/#/?noCats=Adventure,Ancient%2FMythology,Card%2FClassic,Family,Fantasy%2FSci%2DFi,Medieval%2FCultural,Miniatures%2FExpansions,Modern%20Themes,War";
        break;
      case 5:
        window.location = "/boardgames/#/?noCats=Adventure,Ancient%2FMythology,Card%2FClassic,Economic%2FPolitical,Fantasy%2FSci%2DFi,Medieval%2FCultural,Miniatures%2FExpansions,Modern%20Themes,War";
        break;
      case 6:
        window.location = "/boardgames/#/?noCats=Adventure,Ancient%2FMythology,Card%2FClassic,Economic%2FPolitical,Family,Medieval%2FCultural,Miniatures%2FExpansions,Modern%20Themes,War";
        break;
      case 7:
        window.location = "/boardgames/#/?noCats=Adventure,Ancient%2FMythology,Card%2FClassic,Economic%2FPolitical,Family,Fantasy%2FSci%2DFi,Miniatures%2FExpansions,Modern%20Themes,War";
        break;
      case 8:
        window.location = "/boardgames/#/?noCats=Adventure,Ancient%2FMythology,Card%2FClassic,Economic%2FPolitical,Family,Fantasy%2FSci%2DFi,Medieval%2FCultural,Modern%20Themes,War";
        break;
      case 9:
        window.location = "/boardgames/#/?noCats=Adventure,Ancient%2FMythology,Card%2FClassic,Economic%2FPolitical,Family,Fantasy%2FSci%2DFi,Medieval%2FCultural,Miniatures%2FExpansions,War";
        break;
      case 10:
        window.location = "/boardgames/#/?noCats=Adventure,Ancient%2FMythology,Card%2FClassic,Economic%2FPolitical,Family,Fantasy%2FSci%2DFi,Medieval%2FCultural,Miniatures%2FExpansions,Modern%20Themes";
        break;
    }
  });

  mixpanel.track('Landing page view');
</script>