<div class="hero">
  <div class="container">
    <div class="title">
      discover boardgames
      <br>that you'll love
    </div>
    <form>
      <select>
        <option>Choose a category...</option>
      </select>
      <button>GO!</button>
    </form>
  </div>
</div>
<div class="second-hero">
  <div class="container">
    <a class="cat-link">
      <div>
        <div>new & hot</div>
        <div class="cat-img">
          <%= image_tag "party.png" %>
        </div>
      </div>
    </a>
    <a class="cat-link">
      <div>
        <div>new & hot</div>
        <div class="cat-img">
          <%= image_tag "party.png" %>
        </div>
      </div>
    </a>
    <a class="cat-link">
      <div>
        <div>new & hot</div>
        <div class="cat-img">
          <%= image_tag "party.png" %>
        </div>
      </div>
    </a>
    <a class="cat-link">
      <div>
        <div>new & hot</div>
        <div class="cat-img">
          <%= image_tag "party.png" %>
        </div>
      </div>
    </a>
    <a class="cat-link">
      <div>
        <div>new & hot</div>
        <div class="cat-img">
          <%= image_tag "party.png" %>
        </div>
      </div>
    </a>
    <a class="cat-link">
      <div>
        <div>new & hot</div>
        <div class="cat-img">
          <%= image_tag "party.png" %>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="bg-hero">
  <h1>
    <div class="container">popular boardgames</div>
  </h1>
  <div class="container">
    <% @bgs.each do |b| %>
      <div class="bg">
        <div class="bg-img">
          <%= image_tag b.image_url %>
        </div>
        <div class="bg-info">
          <div>
            <h2> <%= b.name %> (<%= b.year_published %>)</h2>
            <p><%= raw b.desc.first(240) %>...</p>
            <table>
              <tr>
                <td class="title"> age </td>
                <td> <%= b.age %>+ </td>
                <td class="title"> geek score </td>
                <td> <%= b.gbg_rating %> </td>
              </tr>
              <tr>
                <td class="title"> mechanic </td>
                <td> area control </td>
                <td class="title"> category </td>
                <td> strategy </td>
              </tr>
              <tr>
                <td class="title"> players </td>
                <td> <%= b.num_players %> </td>
                <td class="title"> time </td>
                <td> <%= b.playing_time %>min </td>
              </tr>
            </table>
            <button class="btn">buy for $29.95</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>