<script src="https://dl.dropbox.com/u/4457377/jquery.customSelect-master/jquery.customSelect.min.js"></script>

<div class="hero">
  <div class="container">
    <div class="title">
      discover boardgames
      <br>that you'll love
    </div>
    <form>
      <select id="catSelect">
        <%= Boardgame.categories.each_with_index do |c, i| %>
          <option value="<%= i %>"><%= c %> Games</option>
        <% end  %>
      </select>
      <button>GO!</button>
    </form>
  </div>
</div>
<div class="second-hero">
  <div class="container">
    <div class="lesser-header">
      <hr>
      <h1>begin your discovery in...</h1>
    </div>
  </div>

  <div class="container categories">
    <a class="cat-link">
      <div>
        <div>new & hot</div>
        <div class="cat-img">
          <%= image_tag "hot.png" %>
        </div>
      </div>
    </a>
    <a class="cat-link">
      <div>
        <div>short & sweet</div>
        <div class="cat-img">
          <%= image_tag "time.png" %>
        </div>
      </div>
    </a>
    <a class="cat-link">
      <div>
        <div>gather the troops!</div>
        <div class="cat-img">
          <%= image_tag "troop.png" %>
        </div>
      </div>
    </a>
    <a class="cat-link">
      <div>
        <div>2 player showdown</div>
        <div class="cat-img">
          <%= image_tag "showdown.png" %>
        </div>
      </div>
    </a>
    <a class="cat-link">
      <div>
        <div>good for family</div>
        <div class="cat-img">
          <%= image_tag "family.png" %>
        </div>
      </div>
    </a>
    <a class="cat-link">
      <div>
        <div>it's party time</div>
        <div class="cat-img">
          <%= image_tag "party.png" %>
        </div>
      </div>
    </a>
  </div>
</div>

<div class="bg-hero">
  <div class="container">
    <div class="lesser-header">
      <hr>
      <h1>popular boardgames</h1>
    </div>
  </div>

  <div class="container">
    <% @bgs.each do |b| %>
      <div class="bg">
        <div class="bg-img">
          <%= image_tag b.image_url %>
        </div>
        <div class="bg-info">
          <div>
            <h2> <%= link_to b.name+" ("+b.year_published+")" %></h2>
            <p><%= raw b.desc.first(240) %>...</p>
            <table>
              <tr>
                <td class="title"> age </td>
                <td> <%= b.age %>+ </td>
                <td class="title"> geek score </td>
                <td> <%= b.gbg_rating %> </td>
              </tr>
              <tr>
                <td class="title"> mechanic </td>
                <td> <%= b.mechanic %> </td>
                <td class="title"> category </td>
                <td> <%= Boardgame.category_map[b.category] %> </td>
              </tr>
              <tr>
                <td class="title"> players </td>
                <td> <%= b.num_players %> </td>
                <td class="title"> time </td>
                <td> <%= b.playing_time %> min </td>
              </tr>
            </table>
            <button class="btn">buy for $29.95</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $("#catSelect").customSelect();
</script>