<div class="modalwrap">
  <div class="backwash"></div>
  <div class="video">
    <span class="close">close</span>
    <iframe width="640" height="480" frameborder="0"></iframe>
  </div>
</div>

<div class="container bg-details">
  <div class="bg">
    <div class="bg-img">
      <%= image_tag @bg.image.url(:thumb) %>
    </div>
    <div class="bg-info">
      <div>
        <h2><%= @bg.name %> (<%= @bg.year_published %>)</h2>
        <table>
          <tr>
            <td class="title"> age </td>
            <td> <%= @bg.age %>+ </td>
            <td class="title"> geek score </td>
            <td> <%= @bg.gbg_rating %> </td>
          </tr>
          <tr>
            <td class="title"> mechanic </td>
            <td> <%= @bg.mechanic %> </td>
            <td class="title"> category </td>
            <td> <%= Boardgame.category_map[@bg.category] %> </td>

          </tr>
          <tr>
            <td class="title"> players </td>
            <td> <%= @bg.num_players %> </td>
            <td class="title"> time </td>
            <td> <%= @bg.playing_time %>min </td>
          </tr>
        </table>
        <a target="_blank" href="<%= @bg.amazon_url %>" class="btn amazon-url" data-bgId="<%= @bg.name %>">buy for <%= @bg.price %> <%= image_tag "Amazon-Logo.png" %></a>

        <div class="about">
          <h3>about this game</h3>
          <p>
            <%= raw @bg.desc %>
          </p>
        </div>
      </div>
    </div>
    <div class="desc-content">

    </div>
  </div>

<div class="container you-may sub-detail">
  <div class="lesser-header">
    <hr>
    <h3>videos</h3>
  </div>
  <div class="items">
    <% @bg.videos.each do |v| %>
      <div class="item youtube" data-youtube="<%= v[:videoId] %>">
        <%= image_tag v[:thumbnail] %>
        <div class="title"><%= v[:title] %></div>
      </div>
    <% end %>
  </div>
</div>

  <script>
    $('.you-may .youtube').click(function() {

      var id = $(this).attr('data-youtube');
      $('.modalwrap iframe').attr('src','http://www.youtube.com/embed/'+id+'?autoplay=1&showinfo=0&theme=light&rel=0&color=white');
      $('.modalwrap').show();
      $('body').css('overflow', 'hidden');
    });

    $(document).on('click', '.modalwrap', function() {
      $('.modalwrap iframe').attr('src','');
      $('.modalwrap').hide();
      $('body').css('overflow', 'scroll');
    });
  </script>

<div class="container you-may sub-detail">
  <div class="lesser-header">
    <hr>
    <h3>you may also like</h3>
  </div>
  <div class="items">
    <% @similar.first(4).each do |s| %>
      <div class="item">
        <%= link_to(:action => :detail, :id => s.id) do %>
          <%= image_tag s.image %>
        <% end %>
        <div><%= link_to "#{s.name} (#{s.year_published})", :action => :detail, :id => s.id %></div>
      </div>
    <% end %>
  </div>
</div>

<div class="container disqus sub-detail">
  <div class="lesser-header">
    <hr>
    <h3>discussion</h3>
  </div>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
    var disqus_developer = 1; // this would set it to developer mode
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'getboardgames'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

<script>
  mixpanel.track('bgView', {'bg': <%= @bg.id %>});
</script>