<div class="container bg-details">
  <div class="bg">
    <div class="bg-img">
      <%= image_tag "http://cf.geekdo-images.com/images/pic428828_md.jpg" %>
    </div>
    <div class="bg-info">
      <div>
        <h2>small world (2009)</h2>
        <table>
          <tr>
            <td class="title"> age </td>
            <td> 8+ </td>
            <td class="title"> geek score </td>
            <td> 7.41 </td>
          </tr>
          <tr>
            <td class="title"> mechanic </td>
            <td> area control </td>
            <td class="title"> category </td>
            <td> strategy </td>

          </tr>
          <tr>
            <td class="title"> players </td>
            <td> 2-5 </td>
            <td class="title"> time </td>
            <td> 80min </td>
          </tr>
          <tr>
            <td class="title"> designer </td>
            <td> Philippe Keyaerts </td>
            <td class="title"> category </td>
            <td> fantasy/sci fi </td>
          </tr>
        </table>
        <button class="btn">buy for $29.95</button>
      </div>
    </div>
  </div>

  <div class="desc">
    <div class="desc-img">
      <%= image_tag "https://dl.dropbox.com/u/4457377/Small_World_board_game_d.png" %>
    </div>
    <div class="desc-content">
      <h3>about this game</h3>
      <p>
        In Small World, players vie for conquest and control of a world that is simply too small to accommodate them all.  <br/><br/>
      Designed by Philippe Keyaerts as a fantasy follow-up to his award-winning Vinci, Small World is inhabited by a
      zany cast of characters such as dwarves, wizards, amazons, giants, orcs, and even humans, who use their troops to occupy
      territory and conquer adjacent lands in order to push the other races off the face of the earth.         <br/><br/>
      Picking the right combination from the 14 different fantasy races and 20 unique special powers, players rush to expand
      their empires - often at the expense of weaker neighbors. Yet they must also know when to push their own over-extended
      civilization into decline and ride a new one to victory!
      </p>
    </div>
  </div>
</div>

<div class="container you-may sub-detail">
  <div class="lesser-header">
    <hr>
    <h3>you may also like</h3>
  </div>
  <div class="items">
    <div class="item">
      <%= image_tag "https://dl.dropbox.com/u/4457377/images/7Wonders.jpg" %>
      <div>7 wonders (2010)</div>
    </div>

    <div class="item">
      <%= image_tag "https://dl.dropbox.com/u/4457377/images/7Wonders.jpg" %>
      <div>7 wonders (2010)</div>
    </div>

    <div class="item">
      <%= image_tag "https://dl.dropbox.com/u/4457377/images/7Wonders.jpg" %>
      <div>7 wonders (2010)</div>
    </div>

    <div class="item">
      <%= image_tag "https://dl.dropbox.com/u/4457377/images/7Wonders.jpg" %>
      <div>7 wonders (2010)</div>
    </div>
  </div>
</div>

<div class="container disqus sub-detail">
  <div class="lesser-header">
    <hr>
    <h3>discussion</h3>
  </div>
  <%= image_tag "https://dl.dropbox.com/u/4457377/images/disqus.PNG" %>
</div>