<!DOCTYPE html>
<html>
<head>
  <title>Bgre</title>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topbar">
  <div class="container">
    <span class="logo">
      <%= link_to :controller => :home do %>
        <%= image_tag "gbg-logo.png" %>
      getboardgames.com
      <% end %>
    </span>
    <%= link_to "Browse Boardgames", {:controller => :home, :action => :bg_list}, :class => "link" %>
  </div>

</div>

<%= yield %>

</body>
</html>
